<title>Express Checkout Demo</title>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous">

<style type="text/css" media="screen">
  form article label {
    display: block;
    margin: 5px;
  }

  form .submit {
    margin: 15px 0;
  }
</style>