{% extends "layout.html" %}
{% block content %}
    <script>
      function aexpCallback(response) {

      	var token = response.token;
        if (token) {
          	var inputElem = '<input type="hidden" name="stripeToken">';

          	$('#payment-form').append($(inputElem).val(token));
          	$('#hidden-form' ).append($(inputElem).val(token));
        }

        // gathers and displays information about the cardmember
        $('#hidden-form').submit();
      }
    </script>

	<amex:init client_id="YUDz2H909plapU8zVOR0wExxPwB2ZNdS"
               env="qa"
               callback="aexpCallback" />

    <!-- a hidden form to gather information from user's token -->
    <div style="display:none;">
	    <form action="/" method="post" id="hidden-form"></form>
	</div>

	<!-- the visible form -->
    <form action="/charge" method="post" id="payment-form">
      <div class="form-row col-md-12">
        <h4>You are being charged $5.</h4>
      </div>

      <div class="form-row col-md-12">
        <p>Please click the Express Checkout button to continue.</p>
      </div>

      <div class="form-row col-md-12">
        <p><ol>
          <li>Username: "test_user"</li>
          <li>Password: "password"</li>
          <li>Access Code: "123456"</li>
        </ol></p>
      </div>

      <div class="form-row col-md-12">
        <p>Once your information appears, press "Submit" at the bottom of the page.</p>
      </div>

      <div class="form-row col-md-12">
        <div class="form-group">
          <div id="amex-express-checkout"></div>
          <div id="card-errors" role="alert"></div>
        </div>
      </div>

      {% from 'macros.html' import account_details with context %}
      {{ account_details(token) }}

      <div class="form-group col-md-12">

        {% if token != null %}
          	<button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        {% else %}
          	<button id="submit-button" type="submit" class="btn btn-primary" disabled>Submit</button>
        {% endif %}

      </div>
    </form>
{% endblock %}
